<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">
    <!-- wp:pattern {"slug":"farmacia-della-bona/hero"} /-->
    <!-- wp:pattern {"slug":"farmacia-della-bona/services-banner"} /-->
</main>
<!-- /wp:group -->
 




<!-- wp:group {"className":"is-style-section-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-section-1">
<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Servizi Disponibili.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">I Nostri Servizi</h2>
<!-- /wp:heading -->
</div>
<!-- /wp:group -->






<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->