<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0">
    <!-- wp:farmacia-della-bona/hero /-->
    <!-- wp:pattern {"slug":"farmacia-della-bona/section-services"} /-->
    <!-- wp:pattern {"slug":"farmacia-della-bona/fidelity-card"} /-->
    <!-- wp:pattern {"slug":"farmacia-della-bona/reviews"} /-->
    <!-- wp:pattern {"slug":"farmacia-della-bona/contact-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
