name: Deploy to Cloudways

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    uses: WritePoetry/reusable-workflows/.github/workflows/sync-folders-to-server.yml@main
    with:
      host: ${{ vars.SSH_HOST }}
      username: ${{ vars.SSH_USERNAME }}
      folder: ${{ vars.SSH_FOLDER }}
      paths: |
        [
          {
            "from": ".",
            "to": "/themes/${{ github.event.repository.name }}/",
            "exclude": ".git* .github* node_modules"
          }
        ]
    secrets:
      ssh-key: ${{ secrets.SSH_KEY }}

